section
  .flex.flex--center
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum, qui sequi eos voluptates sapiente nisi temporibus quaerat ipsum pariatur vero maxime nam repellat libero ratione accusantium, quidem animi laboriosam.
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aspernatur, enim, vel fuga mollitia molestias iusto voluptatum provident est, distinctio aliquid voluptates. Quasi numquam at qui sapiente recusandae totam delectus.
      
section
  .flex.flex--space-around
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum, qui sequi eos voluptates sapiente nisi temporibus quaerat ipsum pariatur vero maxime nam repellat libero ratione accusantium, quidem animi laboriosam.
    .col-1.order-first
      p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aspernatur, enim, vel fuga mollitia molestias iusto voluptatum provident est, distinctio aliquid voluptates. Quasi numquam at qui sapiente recusandae totam delectus.
      
section
  .flex.flex--center
    .col-2
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum, qui sequi eos voluptates sapiente nisi temporibus quaerat ipsum pariatur vero maxime nam repellat libero ratione accusantium, quidem animi laboriosam.
      
section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum, qui sequi eos voluptates sapiente nisi temporibus quaerat ipsum pariatur vero maxime nam repellat libero ratione accusantium, quidem animi laboriosam.
    .col-50
      p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aspernatur, enim, vel fuga mollitia molestias iusto voluptatum provident est, distinctio aliquid voluptates. Quasi numquam at qui sapiente recusandae totam delectus.
