section.about
  .flex
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rerum omnis, voluptatum est sit impedit totam non temporibus saepe tenetur eaque, tempora ullam libero asperiores laudantium optio quasi, magnam corporis?
      
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt, inventore, ipsam autem neque id. Libero suscipit recusandae dolore harum, saepe quas, animi, itaque omnis hic sint voluptatem vitae eum.
