mixin nav-content()
  ul
    li: a(href="#portfolio") Portfolio
    li: a(href="#about") About
    li: a(href="#contact") Contact
    li: a(href="#blog") Blog

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Erwin Rosales
    
    nav.site-nav
      +nav-content()
    
        
    a(href="mailto:photography@erwinrosales.com").email-link +email me
    
    .mobile-nav-toggle: span
